@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

:root {
  --bg-dark: #121;
  --bg-sec-dark: #4a545c;
  --bg-focused-dark: #888;
  --fg-dark: #fff;

  --bg-light: #f0f0f0;
  --bg-sec-light: #c3c3c3;
  --bg-focused-light: #5e5e5e;
  --fg-light: #000;

  /* Default */
  --bg: var(--bg-dark);
  --bg-sec: var(--bg-sec-dark);
  --bg-focused: var(--bg-focused-dark);
  --fg: var(--fg-dark);
}

* {
  background-color: unset;
  color: unset;
}

[class^='fa'] {
  background-color: transparent;
  color: var(--fg) !important;
  position: absolute;
  transform: translate(-50%, -50%) !important;
  font-size: 100% !important;
}

button:hover {
  background-color: var(--bg-focused);
}

.hidden {
  display: none;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 3rem;
  background-color: var(--bg-sec);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: end;

  > #toggle-scheme {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
}

main > p {
  text-align: justify;
  padding: 1rem;

  &.person1 {
    color: lightgreen;
  }
  &.person2 {
    color: lightblue;
  }
}