:root {
  --bg-dark: #121;
  --bg-sec-dark: #4a545c;
  --fg-dark: #fff;

  --bg-light: #f0f0f0;
  --bg-sec-light: #333333;
  --fg-light: #000;

  /* Default */
  --bg: var(--bg-dark);
  --bg-sec: var(--bg-sec-dark);
  --fg: var(--fg-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg-light);
    --bg-sec: var(--bg-sec-light);
    --fg: var(--fg-light)
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --bg-sec: var(--bg-sec-dark);
    --fg: var(--fg-dark)
  }
}

[class^='fa'] {
  background-color: transparent;
  color: var(--fg);
  position: absolute;
  transform: translate(-50%, -50%)
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

header {
  width: 100%;
  height: 3rem;
  background-color: var(--bg-sec);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: end;

  > #color-scheme {
    background-color: var(--bg-sec);
    border: .5rem;
    min-width: 20px;
    max-width: 20px;
    flex-basis: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  * > i:hover {
    filter: brightness(120%);
  }
}